<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Displaying a particular product</h1>

    <div>
        <h2> <%=foundSport._id%> </h2>
        <h2> <%=foundSport.title%> </h2>
        <h2> <%=foundSport.year%> </h2>
        <h2> <%=foundSport.isPlayed%> </h2>
        <h2> <%=foundSport.description%> </h2>
        <a href="/sports">Go back</a>
        <a href="/sports/<%=foundSport._id%>/edit">Edit</a>
        <form action="/sports/<%=foundSport._id%>?_method=DELETE" method="post">
            <button>delete</button>
        </form>
    </div>
</body>
</html>